

<p>
  <strong><%= t('Title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('Description') %>:</strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= t('Duration') %>:</strong>
  <%= @task.duration %>
</p>

<p>
  <strong><%= t('Start date') %>:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong><%= t('End date') %>:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong><%= t('Member') %>:</strong>
  <%= @task.member.fullname %>
</p>

<p>
  <strong><%= t('Checklist') %>:</strong>
  <%  if @task.checklist %>
  <%= "Finished" %>
  <% else%>
  <%= "Pending" %>
  <% end%>
</p>

<%= link_to t('Edit'), edit_task_path(@task) %> |
<%= link_to t('Back'), tasks_path %>
